body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  color: #303030;
  font-family: Circular, sans-serif;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  color: #F47D39;
  font-family: Optima;
}

p {
  margin-top: 0;
}


form {
  width: 60vw;
  max-width: 600px;
  min-width: 300;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 3px solid #E90B5A;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  margin-top: 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #F47D39;
  border: 2px solid #F04C24;
  color: #fce9dc;
}

::placeholder {
  color: #f0bd92;
  opacity: 1;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #F47D39;
  border-color: #F04C24;
  border-width: 2px;
  min-width: 300px;
}
